{% extends "base.html" %}
{% block title %}CMaxZDR GIF{% endblock %}
{% block content %}

    {% for post in images %}

         <div class="d-flex flex-row justify-content-between mt-3">
            <div class="d-flex">
                <div class="p-2">
                     <h3 class="text_description">Animation of CMaxZDR from radar. Showing from {{ post.descr }} back to 4 hours</h3>
                </div>

            </div>
            <div class="d-flex">

                <div class="p-2">
                    <form action="{% url 'home_cmaxzdr' %}">
                        <button class="btn btn-success" type="submit">Current</button>
                    </form>
                </div>
                <div class="p-2">
                    <form action="{% url 'gif_cmaxzdr' %}">
                        <button class="btn btn-primary" type="submit">Animation</button>
                    </form>
                </div>
            </div>
        </div>


            <img class="img-fluid" width="100%" height="auto" src="{{ post.img.url}}" alt="{{ post.title }}" >
            {{ post.body|truncatewords:30|linebreaks }}

    {% endfor %}


{% endblock %}